<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371583490259-u685k2mvdficcnjjsfu797iqdnl6f56f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371583490259-u685k2mvdficcnjjsfu797iqdnl6f56f</string>
	<key>API_KEY</key>
	<string>AIzaSyCVBWDhoysWjiStXg_SsJwXrGszox_AQ6k</string>
	<key>GCM_SENDER_ID</key>
	<string>371583490259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafalmalarowski.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait1990</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait1990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371583490259:ios:a251b42aac28c60a699c26</string>
</dict>
</plist>